# latex 辅助文件
**/__latexindent_temp.tex
**/__latexindent_temp.pdf
**/*.aux
**/*.bcf
**/*.xml
**/*.gz

# 一键 git push/pull
**/gitpush.py
**/gitpull.py

# 辅助文件
**/__pycache__
**/tempCodeRunnerFile.py
**/.vscode
**/gethtml
**/.clang-format
